$background-color: #131313;
$text-color: white;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $background-color;
    color: $text-color;
    text-transform: uppercase;
    font-family: "Yusei Magic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 0;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-size: .75rem;

    li
    {
        margin-left: .75rem;
    }
}

a
{
    color: inherit;
    text-decoration: inherit;

    &:hover
    {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

h1
{
    font-size: 1.5rem;
}

h2
{
    font-size: 1rem;
}

h3
{
    font-size: 1rem;
}

canvas
{
    width: 100%;
    height: 100%;
}

#header
{
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}