$gray: #495159;
$teal1: #A1E8CC;
$teal2: #C5DECD;
$orange1: #E5D4C0;
$orange2: #FAC9B8;

$screen-sm-min: 568px; // landscape phones
$screen-md-min: 768px; // portrait tablets
$screen-lg-min: 992px; // landscape tablets / desktops
$screen-xl-min: 1200px; // bigger desktops

@font-face
{
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Roboto";
    src: url("../assets/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $gray;
    font-family: "Roboto", sans-serif;
    color: $orange2;
}

#navbar
{
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    a
    {
        font-size: .75rem;
        color: $teal2;
        text-decoration: none;
        margin-left: .75rem;
        letter-spacing: .2rem;

        &:hover
        {
            color: $teal1;
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }
}

@media screen and (min-width: #{$screen-sm-min})
{
    #navbar
    {
        a
        {
            font-size: .8rem;
        }
    }
}

@media screen and (min-width: #{$screen-md-min})
{
    #navbar
    {
        padding: 2rem;

        a
        {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}

@media screen and (min-width: #{$screen-lg-min})
{
    #navbar
    {
        a
        {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: #{$screen-xl-min})
{
    #navbar
    {
        padding: 3rem;

        a
        {
            font-size: 1.5rem;
            margin-left: 1.5rem;
        }
    }
}