$gray: #495159;
$teal1: #A1E8CC;
$teal2: #C5DECD;
$orange1: #E5D4C0;
$orange2: #FAC9B8;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: $gray;
    text-transform: uppercase;
    font-family: sans-serif;
}

#navbar
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: darken($gray, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h1
    {

    }

    ul
    {
        display: flex;

        li
        {
            list-style: none;
            margin-left: 1rem;
        }
    }
}