#container
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: scale(0);
    animation: popIn .5s ease-in-out forwards;

    #inner-container
    {
        padding: 1rem;
        background-color: #101010;

        h1
        {
            font-size: 1.5rem;
            text-decoration: underline;
        }

        p
        {
            font-size: 1rem;
            letter-spacing: 0.05rem;
        }
    }
}