@use "main";

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-container
{
    width: 650px;
    height: 650px;
    position: relative;

    @include main.sm
    {
        $size: 350px;
        width: $size;
        height: $size;
    }

    @include main.md
    {
        $size: 600px;
        width: $size;
        height: $size;
    }

    svg
    {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: main.$orange2;
    }
}

canvas
{
    width: 260px;
    height: 260px;
    position: absolute;
    left: -75px;
    bottom: -40px;

    @include main.sm
    {
        $size: 170px;
        width: $size;
        height: $size;
        left: -60px;
        bottom: -35px;
    }

    @include main.md
    {
        $size: 300px;
        width: $size;
        height: $size;
        left: -100px;
        bottom: -60px;
    }
}