@use "../style/main";

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-container
{
    width: 250px;
    height: 250px;
    position: relative;

    svg
    {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: main.$orange2;
    }
}

canvas
{
    width: 110px;
    height: 110px;
    position: absolute;
    left: -35px;
    bottom: -15px;
}

@media screen and (min-width: #{main.$screen-sm-min})
{
    #image-container
    {
        $size: 200px;
        width: $size;
        height: $size;
    }

    canvas
    {
        $size: 90px;
        width: $size;
        height: $size;
        left: -30px;
        bottom: -15px;
    }
}

@media screen and (min-width: #{main.$screen-md-min})
{
    #image-container
    {
        $size: 400px;
        width: $size;
        height: $size;
    }

    canvas
    {
        $size: 180px;
        width: $size;
        height: $size;
        left: -60px;
        bottom: -30px;
    }
}

@media screen and (min-width: #{main.$screen-lg-min})
{
    // fine as is
}

@media screen and (min-width: #{main.$screen-xl-min})
{
    #image-container
    {
        $size: 550px;
        width: $size;
        height: $size;
    }

    canvas
    {
        $size: 248px;
        width: $size;
        height: $size;
        left: -83px;
        bottom: -41px;
    }
}
