$background-color: #161616;
$text-color: white;

@keyframes popIn
{
    100% { transform: scale(1); }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $background-color;
    color: $text-color;
    text-transform: uppercase;
    font-family: "Yusei Magic", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;

    li
    {
        margin-left: .75rem;

        a:hover
        {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }
}

a
{
    color: inherit;
    text-decoration: inherit;
}