$background-color: #252627;
$text-color: #F4F3EE;
$accent-color: #EF8354;
$secondary-accent-color: #1f2021;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $background-color;
    color: $text-color;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

a
{
    color: inherit;
    text-decoration: inherit;

    &:hover
    {
        color: $accent-color;
    }
}

#nav-bar
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $secondary-accent-color;
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #title
    {
        position: relative;

        h3
        {
            letter-spacing: .2rem;
            font-size: 1rem;
        }

        p
        {
            font-size: .60rem;
        }

        &::after
        {
            display: none;
            content: "";
            position: absolute;
            width: 40px;
            height: 100%;
            background: linear-gradient(135deg, rgba(252,55,61,1) 10%, rgba(255,46,134,1) 20%, rgba(252,153,59,1) 30%, rgba(252,247,57,1) 40%, rgba(152,253,55,1) 50%, rgba(54,244,207,1) 60%, rgba(98,116,232,1) 70%, rgba(195,118,208,1) 80%, rgba(214,142,182,1) 90%, rgba(255,46,78,1) 100%);
            right: -50px;
            top: 0;
            border-radius: 50%;
        }
    }

    ul
    {
        list-style: none;
        display: flex;
        align-items: center;

        li
        {
            margin-left: .75rem;
            font-size: .7rem;
            letter-spacing: .1rem;

            a:hover
            {
                text-decoration: underline;
                text-decoration-style: wavy;
            }
        }
    }
}