@use "../style/main";

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    text-transform: uppercase;
    border-bottom: 4px solid main.$orange2;
    border-right: 4px solid main.$orange2;
    margin: 2rem auto;
    text-align: center;
}

ul
{
    li
    {
        list-style: square;
        margin: 1rem 0;

        &:last-child
        {
            padding-bottom: 4rem;
        }
    }
}

a
{
    color: main.$teal2;

    &:hover
    {
        color: main.$teal1;
        text-decoration-style: dotted;
    }
}

#container
{
    max-width: 80%;
    max-height: 70%;
}

@media screen and (min-width: #{main.$screen-sm-min})
{
    h1
    {
        font-size: 2.5rem;
    }

    ul
    {
        padding: 0 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: #{main.$screen-md-min})
{
    h1
    {
        font-size: 3rem;
    }

    ul
    {

        li
        {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: #{main.$screen-lg-min})
{
    // fine as is
}

@media screen and (min-width: #{main.$screen-xl-min})
{
    // fine as is
}