include heading.pug
link(rel="stylesheet", type="text/css", href="style/about.css")
script(src="scripts/brands.js" defer)
script(src="scripts/fontawesome.js" defer)
body
    include navbar.pug
    div#container
        div#image-row.row
            img(src="https://pbs.twimg.com/profile_images/1346450279613534209/WThd5YVk.jpg", alt="A picture of me!")
        div#projects-row.row
            h3 Recent Projects:
            ul
                li
                    a(href="https://rynstwrt.github.io/CSS-Animations", target="_blank") CSS Animations Gallery
                li
                    a(href="https://www.ryanstew.art/website2", target="_blank") Minimal Square Website Design
                li
                    a(href="https://www.ryanstew.art/website5", target="_blank") Color Scheme Generator
                li
                    a(href="https://www.ryanstew.art/website6", target="_blank") Shape Wireframe WebGL Website
                li
                    a(href="https://www.ryanstew.art/website7", target="_blank") Blocky WebGL Website
                li
                    a(href="https://www.ryanstew.art/website8", target="_blank") Trippy WebGL City
        div#social-row.row
            h3 Social Links:
            ul
                li
                    a(href="https://www.github.com/rynstwrt", target="_blank")
                        i(class="fab fa-github-square fa-lg")
                li
                    a(href="https://www.codepen.io/ryanstewartalex", target="_blank")
                        i(class="fab fa-codepen fa-lg")
                li
                    a(href="https://www.unsplash.com/@rynstwrt", target="_blank")
                        i(class="fab fa-unsplash fa-lg")
                li
                    a(href="https://www.instagram.com/rynstwrt", target="_blank")
                        i(class="fab fa-instagram fa-lg")
                li
                    a(href="https://www.twitter.com/rynstwrt", target="_blank")
                        i(class="fab fa-twitter-square fa-lg")