doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/about.css")
    body
        include header.pug
        div#container
            div#inner-container
                h1 About
                br
                p Heyo! This website was created by
                    a(href="#")  Ryan Stewart
                    | . I'm a queer ATEC (Arts, Technology, and Emerging Communications) student at the University of Texas at Dallas.
                    br
                    br
                    | I saw the .gay TLD was released to the public and I had to snag myself a domain. If you want to reach out or learn more, check out the contact page!