include heading.pug
link(rel="stylesheet", type="text/css", href="style/about.css")
body
    include navbar.pug
    div#text-container
        h1 Hello!
        p I'm so glad you stumbled upon my website. Fate is weird, huh?
        br
        br
        h1 Who am I?
        p I'm a student from Dallas studying design and computer science.
        br
        br
        h1 What is this website?
        p I bought this website on January 24, 2021 after a friend messaged me about how the .gay TLD was available.
        br
        p I knew I had to buy one, as I'm queer and want to do web development after university.