include heading.pug
link(rel="stylesheet", type="text/css", href="style/about.css")
body
    include navbar.pug
    div#container
        img(src="https://pbs.twimg.com/profile_images/1346450279613534209/WThd5YVk.jpg", alt="A picture of me!")
        br
        h1 Hello!
        br
        p
            | I'm a student from Dallas studying design and computer science.
            | This website was created when I saw that the .gay TLD was available; I'm queer and knew I had to buy one...
            | so I bought my name's .gay domain.
        br
        p
            | My main website is
            |
            a(href="https://www.ryanstew.art", target="_blank") www.ryanstew.art
            | , though. There I showcase all the websites I've created recently.
        br
        p
            | My other interests include mixing music, playing guitar, and art. Anyway, thanks for stopping by!