include heading.pug
link(rel="stylesheet", type="text/css", href="style/about.css")
script(src="scripts/brands.js" defer)
script(src="scripts/fontawesome.js" defer)
body
    include navbar.pug
    div#container
        div#container-inner
            div#image-row.row
                img(src="https://pbs.twimg.com/profile_images/1346450279613534209/WThd5YVk.jpg", alt="A picture of me!")
            div#text-row.row
                p
                    | This website was created on January 24th, 2021 when I bought this domain.
                    | I originally bought it just to reserve my name's .gay domain, but now I'm using this website to showcase some of my projects.
                br
                p
                    | I'm a gay design and computer science student from Dallas.
                    | My hobbies include web development, mixing music, and playing guitar.
                br
                p
                    | You can see some of my projects on the projects page, and can contact me through the links below.
                    | Thanks for stopping by :)
            div#social-row.row
                ul
                    li
                        a(href="https://www.github.com/rynstwrt", target="_blank")
                            i(class="fab fa-github-square fa-lg")
                    li
                        a(href="https://www.codepen.io/ryanstewartalex", target="_blank")
                            i(class="fab fa-codepen fa-lg")
                    li
                        a(href="https://www.unsplash.com/@rynstwrt", target="_blank")
                            i(class="fab fa-unsplash fa-lg")
                    li
                        a(href="https://www.instagram.com/rynstwrt", target="_blank")
                            i(class="fab fa-instagram fa-lg")
                    li
                        a(href="https://www.twitter.com/rynstwrt", target="_blank")
                            i(class="fab fa-twitter-square fa-lg")