include heading.pug
link(rel="stylesheet", type="text/css", href="style/about.css")
body
    include navbar.pug
    div#container
        img(src="https://pbs.twimg.com/profile_images/1346450279613534209/WThd5YVk.jpg", alt="A picture of me!")
        div#current-projects.row
            h3 Current Projects:
            ul
                li
                    a(href="", target="_blank") link1
                li
                    a(href="", target="_blank") link1
                li
                    a(href="", target="_blank") link1