doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/contact.css")
    body
        include header.pug
        h1 Work in progress!
        h2 Coming soon!