doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/contact.css")
    body
        include header.pug
        div#container
            div#inner-container
                h1 Contact
                form#fs-frm(name="simple-contact-form", accept-charset="utf-8", action="https://formspree.io/f/mzbkolop", method="post")
                    fieldset#fs-frm-inputs
                        label(for="full-name") Your Name
                        input#full-name(type="text", name="name", required="")
                        label(for="email-address") Your E-Mail
                        input#email-address(type="email", name="_replyto", required="")
                        label(for="message") Your Message
                        textarea#message(rows="7", name="message", required="")
                        input#email-subject(type="hidden", name="_subject", value="Contact Form Submission")
                    input(type="submit", value="Submit")