doctype html
html(lang="en")
    head
        title www.ryanstewart.gay
        meta(name="viewport", content="width=device-width", initial-scale="1")
        link(rel="icon", type="image/gif", href="assets/favicon.ico")