doctype html
html(lang="en")
    head
        title www.ryanstewart.gay
        link(rel="stylesheet", type="text/css", href="style/index.css")
        script(src="scripts/cube.js", type="module" defer)
    body
        canvas#cubecanvas Your browser does not support HTML canvases.