doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/main.css")
        link(rel="stylesheet", type="text/css", href="style/index.css")
    body
        include navbar.pug
        div#container
            div.row
                div#box1
                    div.point
                        div.point-inner
                            p
                                b Hello!
                                |  Welcome to my website! This was created just to occupy my name's .gay domain, since i'm a queer web developer and thought the new TLD was cool.
            div.row.right
                div#box2
                    div.point
                        div.point-inner
            div.row
                div#box3
                    div.point
                        div.point-inner