doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/main.css")
        link(rel="stylesheet", type="text/css", href="style/index.css")
        script(src="scripts/background.js", type="module" defer)
    body
        include navbar.pug
        canvas#bgcanvas Your browser does not support canvases!