doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/main.css")
        link(rel="stylesheet", type="text/css", href="style/index.css")
    body
        include navbar.pug
        div#container
            div.row
                div.point
                div.point
            div.row
                div.point
                div.point
            div.row
                div.point
                div.point