doctype html
html(lang="en")
    head
        include headtags.pug
        link(rel="stylesheet", type="text/css", href="style/main.css")
        link(rel="stylesheet", type="text/css", href="style/index.css")
    body
        include navbar.pug
        div#container
            div.row
                div.box
                    div.point
                        div.point-inner
                            p
                                b Hello!
                                br
                                |  Welcome to my website!
                                |  I'll get more into who I am and why I bought this domain in the succeeding bubbles.
                div.box
                    h1 Hover
            div.row
                div.box
                    h1 For more
                div.box
                    div.point
                        div.point-inner
                            p
                                b I am Ryan Stewart
                                | , a queer CS/design student from Dallas.
                                |  My hobbies include web design and development, guitar, and mixing music.
            div.row
                div.box
                    div.point
                        div.point-inner
                            p
                                b I bought this website in January of 2021.
                                br
                                |  I'm queer and when another queer friend sent me a message saying that the .gay TLD was available for purchase, I knew I had to buy one.
                div.box
                    h1 Info