include heading.pug
link(rel="stylesheet", type="text/css", href="style/projects.css")
body
    include navbar.pug
    div#container
        h1 Projects
        ul
            li
                a(href="https://rynstwrt.github.io/CSS-Animations", target="_blank") CSS Animations Gallery
            li
                a(href="https://www.ryanstew.art/website2", target="_blank") Minimal Square Website Design
            li
                a(href="https://www.ryanstew.art/website5", target="_blank") Color Scheme Generator
            li
                a(href="https://www.ryanstew.art/website6", target="_blank") Shape Wireframe WebGL Website
            li
                a(href="https://www.ryanstew.art/website7", target="_blank") Blocky WebGL Website
            li
                a(href="https://www.ryanstew.art/website8", target="_blank") Trippy WebGL City