div#nav-bar
    div#title
        h3
            a(href="/") ryanstewart.gay
        p
            |From the creator of
            |
            a(href="https://www.ryanstew.art") www.ryanstew.art
    ul
        li
            a(href="/") Home
        li
            a(href="contact") Contact